:root {
    --pikachuYellow: #ffe066;
    --pikachuLightYellow: #fef9e6;
    --pikachuBlue: #2c62aa;
    --pikachuRed: #E92929;
}

* {
    /*border: 1px solid black !important;*/
    font-family: 'Lucida Sans', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}


.frame {
    background-color: #eaeff7;
    border: 1px solid var(--pikachuBlue);
    width: 300px;
    height: 500px;
    left:0;
    right: 0;
    top: 5%;
    border-radius: 30px;
    z-index: 0;
    position: absolute;
    margin: 0 auto;
    margin-top: 60px;
}

#logo {
    width: 60%;
    position: relative;
    margin: 0 auto;
    top: 10px;
    left: 55px;
}
.screen {
    border-radius: 10px;
    background-color: white;
    width: 280px;
    height: 360px;
    position:relative;
    z-index: 1;
    margin: auto;
    margin-top: 15px;
    padding: 10px 0 10px 0;
}

/*.dot {
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
}*/

.app {
    z-index: 2;
    position: relative;
    line-height: 1.3;
    height: 100%;
    overflow: scroll;
}

.buttonsClass {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0;
    color: var(--pikachuBrown);
    list-style-type: none;
    padding: 0 5px 0 5px;
    margin: 0;
}

button {
    border: 0;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    margin-top: 5px;
    text-transform: capitalize;
    scrollbar-width: 10px;
    scrollbar-color: var(--pikachuBrown);
    background-color: var(--pikachuLightYellow);
    font-weight: 300;
}

#modal-container {
    border-radius: 10px;
    width:100%;
    height:100%;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    background-color: white;
    text-align: center;
    z-index: 999;
    /*normally, we won't want to see it until we make it visible by adding the class .is-visible*/
    display: none;
}


#modal-container.is-visible {
    display: block;
}

.modal-close{
    position: relative;
    margin-top: 61px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    background: var(--pikachuBlue);
    color: white;
    font-weight: 600;
}

.picture {
    width: 50%;
}

